<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ict.sci.kidslearning">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />



    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity" android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".RegistrationActivity" android:screenOrientation="landscape"/>
        <activity android:name=".MainActivity" android:screenOrientation="landscape"/>
        <activity android:name=".AboutActivity" android:screenOrientation="landscape"/>
        <activity android:name=".HomeActivity" android:screenOrientation="landscape"/>
        <activity android:name=".QuestionActivity" android:screenOrientation="landscape"/>
        <activity android:name=".WordListActivity" android:screenOrientation="landscape"/>

        <activity android:name=".DragingActivity" android:screenOrientation="landscape"/>

        <activity android:name=".QuestionActivity_g1b2" android:screenOrientation="landscape"/>
        <activity android:name=".WordListActivity_G1q2" android:screenOrientation="landscape"/>
        <activity android:name=".WordListActivity_G1q3" android:screenOrientation="landscape"/>
        <activity android:name=".ResultActivity" android:screenOrientation="landscape"/>
        <activity android:name=".ResultListActivity" android:screenOrientation="landscape"/>

        <activity android:name=".QuestionActivity2016_1" android:screenOrientation="landscape"/>
        <activity android:name=".QuestionActivity2016_2" android:screenOrientation="landscape"/>
        <activity android:name=".QuestionActivity2016_3" android:screenOrientation="landscape"/>
        <activity android:name=".QuestionActivity2016_4" android:screenOrientation="landscape"/>


        <activity android:name=".WordListActivity2016_1" android:screenOrientation="landscape"/>
        <activity android:name=".WordListActivity2016_1_5" android:screenOrientation="landscape"/>
        <activity android:name=".WordListActivity2016_2" android:screenOrientation="landscape"/>
        <activity android:name=".WordListActivity2016_2_43" android:screenOrientation="landscape"/>
        <activity android:name=".WordListActivity2016_3" android:screenOrientation="landscape"/>
        <activity android:name=".WordListActivity2016_3_5" android:screenOrientation="landscape"/>
        <activity android:name=".WordListActivity2016_4" android:screenOrientation="landscape"/>
        <activity android:name=".WordListActivity2016_4_4" android:screenOrientation="landscape"/>
        <activity android:name=".WordListActivity2016_5_31" android:screenOrientation="landscape"/>
        <activity android:name=".WordListActivity2016_5_3" android:screenOrientation="landscape"/>
        <activity android:name=".WordListActivity2016_5_5" android:screenOrientation="landscape"/>
        <activity android:name=".WordListActivity2016_6" android:screenOrientation="landscape"/>

        <activity android:name=".WordListActivity2016_7_12" android:screenOrientation="landscape"/>
        <activity android:name=".WordListActivity2016_7_4" android:screenOrientation="landscape"/>
        <activity android:name=".WordListActivity2016_8" android:screenOrientation="landscape"/>
        <activity android:name=".WordListActivity2016_9" android:screenOrientation="landscape"/>

        <activity android:name=".Activity_Onepic_2016_3" android:screenOrientation="landscape"/>
        <activity android:name=".Activity_Onepic_2016_4" android:screenOrientation="landscape"/>

        <activity android:name=".Activity_Onepic_2016_5" android:screenOrientation="landscape"/>
        <activity android:name=".Activity_Onepic_2016_5_5" android:screenOrientation="landscape"/>
        <activity android:name=".Activity_Onepic_2016_6" android:screenOrientation="landscape"/>

        <activity android:name=".Activity_Onepic_2016_7" android:screenOrientation="landscape"/>
        <activity android:name=".Activity_Onepic_2016_7_4" android:screenOrientation="landscape"/>
        <activity android:name=".Activity_Onepic_2016_8" android:screenOrientation="landscape"/>
        <activity android:name=".Activity_Onepic_2016_9" android:screenOrientation="landscape"/>

        <activity android:name=".ImageWordActivity16_1" android:screenOrientation="landscape"/>


    </application>

</manifest>